@font-face {
    font-family: "Minecraft";
    src: url('./assets/fonts/Minecraft.ttf');
}

@font-face {
    font-family: "font2";
    src: url('./assets/fonts/font2.TTF');
}

@font-face {
    font-family: "font3";
    src: url('./assets/fonts/font3.otf');
}

@font-face {
    font-family: "poppins";
    src: url('./assets/fonts/poppins.ttf');
}

body {
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input,
button {
    font-family: font2;
    height: 80px;
    width: 400px;
    border-radius: 40px;
    margin: 10px;
    text-align: center;
}

input {
    font-size: 22px;
    outline: none;
}

button {
    cursor: pointer;
    font-size: 40px;
}

p.control {
    color: white;
    text-align: center;
    font-family: "poppins", Arial, sans-serif;
}

p.control > img.keyboard-image {
    width: 200px;
    display: block;
    margin: 25px auto;
}

.gametitle {
    color: white;
    font-family: font2;
    font-size: 100px;
}

table{
    background-color:white;
    width:100%;
    text-align:center;
    font-family: poppins;
}

.scoreboard-title {
    text-align: center;
    background: #fff;
    font-family: poppins;
    margin: 0;
    padding: 25px 0;
}


/* --> mise en place colonnes avec grid <-- */

.container {
    display: grid;
    height: 75%;
    justify-items: end;
    grid-template-columns: 2fr 1fr;
}

.inputNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.scoreBoardContainer {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}

.tableau {
    height: 100%;
}