@font-face {
	font-family: "font2";
	src: url('../assets/fonts/font2.TTF');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: -1;
}

.chrono {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 50px;
    color: rgba(255,255,255, 0.5);
}

.displayScore {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.671);
    z-index: 999999;
}

h1.success {
    text-align: center;
}

p.showPersonalScore {
    text-align: center;
}

table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

button.retryButton, button.goHome {
    display: block;
    width: 400px;
    height: 80px;
    margin: 25px auto;
    text-align: center;
    font-size:40px;
    font-family: font2;
    border-radius: 40px;
    cursor:pointer;
}
